@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "../bower_components/metro-bootstrap/app/less/variables.less";
@import "../bower_components/metro-bootstrap/app/less/tiles.less";
@import "../bower_components/metro-bootstrap/app/less/alerts.less";
@import "../bower_components/metro-bootstrap/app/less/checkbox.less";
@import "../bower_components/metro-bootstrap/app/less/radio.less";
@import "../bower_components/metro-bootstrap/app/less/labels.less";
@import "../bower_components/metro-bootstrap/app/less/modals.less";
@import "../bower_components/metro-bootstrap/app/less/navbar-side.less";

.navbar-fixed-top {
    top: 42px;
    border-width: 0 0 1px;
}

.top-bar {
    padding: 10px 0;
    background: #191919;
    border-bottom: 1px solid #222;
    line-height: 28px;
}

.top-number {
    color: #fff;
}

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

a {
    color: #c52d2f;
    -webkit-transition: color 300ms,background-color 300ms;
    -moz-transition: color 300ms,background-color 300ms;
    -o-transition: color 300ms,background-color 300ms;
    transition: color 300ms,background-color 300ms;
}

#header .search {
    display: inline-block;
}

input.search-form {
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.tile.tile-wide, .tile.tile-double
{
    height: 150px;
    width: 300px;
}
.tile.tile-large
{
    height: 310px;
    width: 300px;
}

.tile{
    
    h1{
        font-size:30px;
    }
    h2{
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.tile:hover {
    outline: 1px #225a68 solid; 
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 25px;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial;
  font-size: 14px;
  background-color: #333333;
  background-image: url(/assets/images/back0.png)   ;
  background-repeat:  repeat;
  background-position:  left top;
  color: #8c68a4;
}

/*
@group-sm:360px;
@group-md:720px;
@block-height:140px;
@block-width:140px;
@group-lg: @group-sm + @group-md;

@media (min-width: @screen-xs) {
   
}
@media (min-width: @screen-sm) {
    
}
@media (min-width: @screen-md) {
    
        .square{
            width:@block-width;
            height:@block-height;
        }
        .wide{
            width:@block-width*2;
            height: @block-height;
        }
        .squarepeek{
            width: @block-width;
            height: @block-height*2;
        }
        .squarewidepeek{
            width: @block-width*2;
            height:@block-height*2;
        }
    
   
}
@media (min-width: @screen-lg-min) {
    
}


.metro{
  .container;
    position: relative;
      width: 100%;
  margin: 0 40px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: antiquewhite;
  h1,h2,h3,h4,h5,h6 {
      margin: 10px 0;
      font-family: "Open Sans", "Helvetic Neue", Arial, Helvetica, sans-serif
      
  }
  h2{
      font-size:26px;
      line-height: 34px;
  }
  
  .metro-group{
    position: relative;
    float: left;
    //width: auto;
    //height: auto;
    margin-right: 75px;  
    width:600px;  
    .metro-group-title{
        h2 {
            margin-left: 5px;
            font-weight: 300;
            text-transform: lowercase
        } 
    }
    .metro-group-container{
        .row;
       

       
        .metro-tile{
           
                //clear:left;
                position: relative;
                display: block;
                float:left;
                margin: 5px;
                overflow: hidden;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                border:1px solid;
                background-clip: padding-box;
                padding: 0;
                a {
                    
                    img {
                        border:0;
                        border-style: none;
                        height: 100%;
                        width: 100%;
                        vertical-align: middle;
                        
                    }
                    
                    div {
                        clear:left;
                        display: block;
                        padding: 2px 20px;
                        position: absolute;
                        bottom: 0;
                        height:48px;
                        width:100%
                    }
                }
        }
    }
    
  }
}


.bg-color-blue{
    background-color: #20608e !important;
}

.bg-color-orange{
    background-color: #f09609 !important;
}
*/