<tile wide color="amethyst" ui-sref='qui'>
<a href="#">
	<h2>Qui sommes-nous?</h2>
	<i class="fa fa-3x fa-heart"></i>
</a>

</tile>
<tile medium color="pink" ui-sref='rejoindre'>
<a href="#">
	<h1>Nous Rejoindre</h1>
	<i class="fa fa-3x fa-user-plus"></i>
</a>
</tile>
<tile medium color="magenta" ui-sref='action'>
<a href="#">
	<h1>Les actions</h1>
	<i class="fa fa-3x fa-trophy"></i>
</a>
</tile>
<tile wide color="asbestos" ui-sref='actu'>
<a href="#" >
	<h2>Actualit&eacute;s</h2>
	<i class="fa fa-3x fa-newspaper-o"></i>
</a>
</tile>
<tile wide color="wisteria" ui-sref='agenda'>
<a href="#" >
	<h1>Agenda</h1>
	<i class="fa fa-3x fa-calendar"></i>
</a>
</tile>
<tile wide color="magenta" ui-sref='video'>
<a href="#" >
	<h1>Vid&eacute;os</h1>
	<i class="fa fa-3x fa-youtube"></i>
</a>
</tile>
<tile wide color="teal" ui-sref='photo'>
<a href="#" >
	<h2>Photos</h2>
	<i class="fa fa-3x fa-picture-o"></i>
</a>
</tile>
<tile wide color="turquoise" ui-sref='lien'>
<a href="#" >
	<h2>Liens</h2>
	<i class="fa fa-3x fa-external-link"></i>
</a>
</tile>

 <!-- <flipper flipped="flipped" vertical>
			<front>
				<tile wide color="turquoise">
					<a href="#" >
						<h2>Liens</h2>
						<i class="fa fa-3x fa-external-link"></i>
					</a>
				</tile>
			</front>
			<back>
				<tile wide color="magenta">
					<a href="#" >
						<h2>Liens</h2>
						<i class="fa fa-3x fa-external-link"></i>
					</a>
				</tile>
			</back>
		</flipper>-->
	

<!-- <div wide="" color="teal" class=" col-sm-6 col-md-6 col-lg-3">
	<div ng-transclude="" class="thumbnail tile  tile-wide tile-teal" data-ng-mouseenter="hover=true" data-ng-mouseleave="hover=false">
		<a href="#" class="front" ng-hide="hover" >
			<h2>Front</h2>
			<i class="fa fa-3x fa-picture-o"></i>
		</a>
		<a href="#" class="back" ng-show="hover">
			<h2>Back</h2>
			<i class="fa fa-3x fa-picture-o"></i>
		</a>
	</div>
</div> -->