<page title="Liens">
    <article>
        <h3><a href="http://www.christian-moreau.com/" target="_blank" tooltip-placement="bottom" tooltip="Cliquez ici pour acceder au site" class="ng-scope">Christian Moreau</a></h3><br/>
       <span> Pour acheter des justes au corps de gymnastique</span>
    </article>
    <article>
        <h3><a href="http://www.justogym.com/" target="_blank" tooltip-placement="bottom" tooltip="Cliquez ici pour acceder au site" class="ng-scope">JustoGym</a></h3><br/>
        <span>Achat de materiels et accéssoires de gymnastique</span>
    </article>
</page>