<page title="Rejoindre l‘association">
	<article>
       <ul>
           <li>
               <h3>Inscription</h3>
                La période d‘inscription se fait tous les ans à partir de la rentrée scolaire de septembre.

                Pour cela il vous faudra venir au club pendant les horraires d‘entrainements

                Les entrainements ont lieux les mercredi de 18h00 à 19h45 et les samedi de 13h30 à 16h00

                nous vous remetterons un bulletin d‘inscription

                qu‘il faudra nous remettre (avec les documents demandés) lors de votre prochaine venue.

                Nous prendrons les derniers bulletins aux alentours de début octobre.
                <hr/>
           </li>
           <li>
               <h3>Le Gymnase</h3>
                Les entrainements de l‘Avenir se feront à :
                Gymnase J. Taillard

                rue du Stade

                90600 Grandvillars
                <hr/>
           </li>
           <li>
               <h3>Le président</h3>
                L‘	adresse du président du club :
                M. Jean Michel CLAUSS

                4 ALLEE SOEUR NELLY

                90100 DELLE
            </li>
       </ul>
    </article>

</page>