<div playlistitems="playlistitems" size="wide" class="ng-isolate-scope">Items:<!-- ngRepeat: item in playlistitems.items --><div  class="ng-scope"><div class="video-playlist-tile ng-isolate-scope col-xs-12 col-sm-4 col-md-6 col-lg-4" tile-size="wide" videoid="otv54fNzpA8" title="Sol 2ème degré Jeunesse / Aînées" description="Vous trouverez la vidéo faite par la FSCF pour apprendre le SOL 2ème degré Jeunesse / Aînées" img="https://i.ytimg.com/vi/otv54fNzpA8/mqdefault.jpg">
    <a href="/video/play/" ui-sref="video.play({videoid:plavideoid})">
        <div class="video-tile-thumbnail  tile-wide">
            <div class="video-tile-img tile-wide">
                <img ng-src="https://i.ytimg.com/vi/otv54fNzpA8/mqdefault.jpg" src="https://i.ytimg.com/vi/otv54fNzpA8/mqdefault.jpg">
            </div>
            <div class="video-tile-description tile-wide">
                <h3 class="ng-binding">Sol 2ème degré Jeunesse / Aînées</h3>
                <h4 class="ng-binding">Vous trouverez la vidéo faite par la FSCF pour apprendre le SOL 2ème degré Jeunesse / Aînées</h4>
            </div>
        </div>
    </a>
</div></div><!-- end ngRepeat: item in playlistitems.items --><div  class="ng-scope"><div class="video-playlist-tile ng-isolate-scope col-xs-12 col-sm-4 col-md-6 col-lg-4" tile-size="wide" videoid="tHUkklC-KDw" title="sol 3ème degré Jeunesse / Aînées" description="Vous trouverez la vidéo faite par la FSCF pour apprendre le SOL 3ème degré Jeunesse / Aînées" img="https://i.ytimg.com/vi/tHUkklC-KDw/mqdefault.jpg">
    <a href="/video/play/" ui-sref="video.play({videoid:plavideoid})">
        <div class="video-tile-thumbnail  tile-wide">
            <div class="video-tile-img tile-wide">
                <img ng-src="https://i.ytimg.com/vi/tHUkklC-KDw/mqdefault.jpg" src="https://i.ytimg.com/vi/tHUkklC-KDw/mqdefault.jpg">
            </div>
            <div class="video-tile-description tile-wide">
                <h3 class="ng-binding">sol 3ème degré Jeunesse / Aînées</h3>
                <h4 class="ng-binding">Vous trouverez la vidéo faite par la FSCF pour apprendre le SOL 3ème degré Jeunesse / Aînées</h4>
            </div>
        </div>
    </a>
</div></div><!-- end ngRepeat: item in playlistitems.items --><div  class="ng-scope"><div class="video-playlist-tile ng-isolate-scope col-xs-12 col-sm-4 col-md-6 col-lg-4" tile-size="wide" videoid="OMkhzWtHRdw" title="Sol 4ème degré Jeunesse / Aînées" description="Vous trouverez la vidéo faite par la FSCF pour apprendre le SOL 4ème degré Jeunesse / Aînées" img="https://i.ytimg.com/vi/OMkhzWtHRdw/mqdefault.jpg">
    <a href="/video/play/" ui-sref="video.play({videoid:plavideoid})">
        <div class="video-tile-thumbnail  tile-wide">
            <div class="video-tile-img tile-wide">
                <img ng-src="https://i.ytimg.com/vi/OMkhzWtHRdw/mqdefault.jpg" src="https://i.ytimg.com/vi/OMkhzWtHRdw/mqdefault.jpg">
            </div>
            <div class="video-tile-description tile-wide">
                <h3 class="ng-binding">Sol 4ème degré Jeunesse / Aînées</h3>
                <h4 class="ng-binding">Vous trouverez la vidéo faite par la FSCF pour apprendre le SOL 4ème degré Jeunesse / Aînées</h4>
            </div>
        </div>
    </a>
</div></div><!-- end ngRepeat: item in playlistitems.items --><div  class="ng-scope"><div class="video-playlist-tile ng-isolate-scope col-xs-12 col-sm-4 col-md-6 col-lg-4" tile-size="wide" videoid="bRlDk-Yjo7I" title="Sol 2ème degré Poussine" description="Vous trouverez la vidéo faite par la FSCF pour apprendre le sol 2ème degré poussines" img="https://i.ytimg.com/vi/bRlDk-Yjo7I/mqdefault.jpg">
    <a href="/video/play/" ui-sref="video.play({videoid:plavideoid})">
        <div class="video-tile-thumbnail  tile-wide">
            <div class="video-tile-img tile-wide">
                <img ng-src="https://i.ytimg.com/vi/bRlDk-Yjo7I/mqdefault.jpg" src="https://i.ytimg.com/vi/bRlDk-Yjo7I/mqdefault.jpg">
            </div>
            <div class="video-tile-description tile-wide">
                <h3 class="ng-binding">Sol 2ème degré Poussine</h3>
                <h4 class="ng-binding">Vous trouverez la vidéo faite par la FSCF pour apprendre le sol 2ème degré poussines</h4>
            </div>
        </div>
    </a>
</div></div><!-- end ngRepeat: item in playlistitems.items --><div  class="ng-scope"><div class="video-playlist-tile ng-isolate-scope col-xs-12 col-sm-4 col-md-6 col-lg-4" tile-size="wide" videoid="7UUz1wC9h_o" title="Sol 3ème degré Poussine" description="Vous trouverez la vidéo faite par la FSCF pour apprendre le sol 3ème degré poussines" img="https://i.ytimg.com/vi/7UUz1wC9h_o/mqdefault.jpg">
    <a href="/video/play/" ui-sref="video.play({videoid:plavideoid})">
        <div class="video-tile-thumbnail  tile-wide">
            <div class="video-tile-img tile-wide">
                <img ng-src="https://i.ytimg.com/vi/7UUz1wC9h_o/mqdefault.jpg" src="https://i.ytimg.com/vi/7UUz1wC9h_o/mqdefault.jpg">
            </div>
            <div class="video-tile-description tile-wide">
                <h3 class="ng-binding">Sol 3ème degré Poussine</h3>
                <h4 class="ng-binding">Vous trouverez la vidéo faite par la FSCF pour apprendre le sol 3ème degré poussines</h4>
            </div>
        </div>
    </a>
</div></div><!-- end ngRepeat: item in playlistitems.items --></div>